head{
    padding-bottom: 40px;
    
}
.ul{
    list-style-type: none;
    width:100%;
    background-color:dimgray;
    border-width:10px;
    border-color:#000000;
    padding:10px;
    position:fixed;
    }
.test:link,.test:visited{
    text-decoration:none;
    color:#ffffff;
    font-size:16px;0
    animation-name:example;
    animation-duration:1s;
    padding-bottom:15px;
    padding-top:15px;
    }
.test:hover,.test:active{
    animation-name:example;
    animation-duration:1s;
    animation-fill-mode:both;
    animation-iteration-count:1;
    }
@keyframes example{
    from{font-size:16px;}
    to{font-size:100px;}
    } 
table{
    width:100%;
    align-content: center;
    }
tr{
    width:100%;
}
th{
    width:25%;
    }
p{
    text-align: center;
    font-size: 20px;
    font-family: inherit;
    background-image:url(Images/IMG_0926.JPG);
}
footer{
    padding-top:10px;
    background-color:transparent;
    position: static;
    color:#ffffff;
    float: right;
    width:100%;
    bottom: 0;
}
img:hover{
    opacity: 0.7;
}
.chrism{
    padding-top:60px;
    background-color:darkgrey;
    font-size:17px;
    font-family:sans-serif;
}
.submit:hover, .submit:active{
    background-color: dimgray;
}
